{% extends "base.html"%}

{%block title%}
sign up
{%endblock%}
 

{%include './includes/nav.html'%}
    {%block content%}

    <form method="POST">
      {{form.hidden_tag()}}
      <div class="mb-3">
          <label for="username" class="form-label">Username</label>
         {{form.username(class="form-control", id="username")}}        
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
         {{form.city(class="form-control", id="city")}}        
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          {{form.email(class="form-control", id="email")}}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          {{form.password(class="form-control", id="password")}}

        </div>
    
      {{form.submit_btn (class="btn btn-primary")}}
      </form>


 {%endblock%}

